@import "helper";
@import "form";
@import "login_register";
@import "custom_daterangepicker";
@import "adminbar";
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

